@(title: String)

<!DOCTYPE html>

<html>
    <head>
        <script src="@routes.Assets.at("javascripts/jquery-1.11.1.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("cliwe-js/cliwe.js")" type="text/javascript"></script>
        <script type="text/javascript">$(function(){$(".cliwe-terminal").cliwe()})</script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("cliwe-css/cliwe.css")">
    <body>
        <div class="outer-container">
            <header>
                <h1>Cliwe sample page</h1>
                <p>Cliwe is the command-line interface framework for web applications</p>
                <p>Super-powers for smarter users</p>
            </header>
        </div>
        <div class="command-line-frame">
            <div class="cliwe-terminal-container">
                <h2>javascript</h2>
                <div class="cliwe-terminal"></div>
                <div class="cliwe-terminal-control">
                    <button class="control-button" onclick="$('.cliwe-terminal').cliwe('clearTerminal'); $(this).blur()">Clear</button>
                    <span class="multi-line-tip">Use CTRL+ENTER to submit</span>
                    <span>
                         <label for="multi-line-enabled">Multi-line:</label>
                         <input id="multi-line-enabled" type="checkbox"
                             onclick="$('.cliwe-terminal').cliwe('setMultiLine', this.checked); $(this).blur(); if (this.checked) { $('.multi-line-tip').show() } else { $('.multi-line-tip').hide() }">
                    </span>
                </div>
            </div>
            <div class="cliwe-larder-container">
                <h2>pin board</h2>
                <div class="cliwe-larder"></div>
            </div>
        </div>
    </body>
</html>
