html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Courier New", Courier, monospace;
}

.command-line-frame {
    display: flex;
    height: 100%;
}

.cliwe-terminal {
    order: 1;
    width: 50%;
    height: 100%;
    overflow: auto;
}

.cliwe-larder {
    order: 2;
    width: 50%;
}

.cliwe-suggestions {
    color: cornflowerblue;
    background-color: lightgray;
}

.cliwe-selected {
    color: white;
    background-color: cornflowerblue;
}

.cliwe-suggestion:hover {
    color: white;
    background-color: cadetblue;
}
