html, body {
    margin: 0;
    margin: 20px;
    background-color: lightgray;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 25px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 6px;
}

.outer-container {
    margin: 0;
    padding: 0;
}

.command-line-frame {
    font-family: "Courier New", Courier, monospace;
}

.cliwe-terminal-container {
    box-sizing: border-box;
    width: 70%;
    float: left;
    padding-right: 10px;
}

.cliwe-larder-container {
    box-sizing: border-box;
    width: 30%;
    float: left;
    padding-left: 10px;
}

.cliwe-terminal {
    height: 300px;
    border: solid 1px black;
    overflow: auto;
    position: relative;
    background-color: white;
}

.cliwe-terminal-control {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-align: right;
}

.cliwe-larder {
    min-height: 300px;
    border: solid 1px black;
    overflow: auto;
    background-color: white;
}

.cliwe-completions {
    color: cornflowerblue;
    background-color: lightgray;
}

.cliwe-selected {
    color: white;
    background-color: cornflowerblue;
}

.cliwe-completion:hover {
    color: white;
    background-color: cadetblue;
}
